.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 40px;
  }
  
  .signup-formcontainer {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  
  
  .signupform-container input[type='text'],
  .signupform-container input[type='email'],
  .signupform-container input[type='password'] {
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .signup-formcontainer label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-formcontainer button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  
  .signup-formcontainer button:hover {
    background-color: darkblue;
  }
  
  .signupbutton-div {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .signuptitle {
    font-weight: bold;
  }