.createhike-formcontainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 700px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    color: #5b5c38;
    gap: 20px;
    background-color: rgb(254, 251, 231);
}

label{
    display: flex;
    justify-content: space-between;
}



.newbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.newbutton-div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #303030;
    font-weight: 800;
    cursor: pointer;
    padding: 10px;
    margin: 20px 0px;
    width: 200px;
}
