.hike-box {
    background-image: url("../assets/mountain8.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hikeInfoId {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    padding: 10px 0px;
    color: #303030;
    background-color: rgba(253, 251, 240, 0.836);
    border-radius: 20px;
    width: 350px;
}

.join-btn {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    padding: 10px;
    color: rgb(254, 251, 231);
    background-color: #303030;
    border-radius: 20px;
    width: 350px;
}

.join-btn:hover {
    background-color: #5b5c38;
}

.hike-id-img{
    width: 150px;
}