.navBar {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    background-color: #869BA6;
    padding: 20px;
}

.homeLink{
    text-decoration: none;
    color: rgb(254, 251, 231);
    background-color: transparent;
}