.route-id-box {
    background-image: url("../assets/mountain.avif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
}

.complete-id-title-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 550px;
}

.route-id-img {
    width: 45vh;
}

.title-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    opacity: 60%;
    height: 60vh;
    padding: 10px;
}

.complete-id-info-form {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin: 50px;
}

.route-id-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "Bebas Neue", sans-serif;
    font-size: 17px;
    padding-bottom: 20px;
    color: #303030ba;
    background-color: rgba(253, 251, 240, 0.836);
    padding: 20px;
}

.route-id-map {
    width: 45vh;
}

.titles-descript {
    color: #5b5c38;
}