.routes-box{
    background-image: url("../assets/mountain.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    overflow-y: scroll;
}

.btn-create-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create-route{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    padding: 20px;
    color: rgb(254, 251, 231);
    background-color: #303030;
    width: 170px;
    border-radius: 20px;
}

.create-route:hover{
    background-color:#5b5c38;
}


